.action-button{
    border: none;
    outline: none;
    cursor: pointer;
	position: relative;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
    text-decoration: none;	
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    margin: 20px auto;
    display: block;
}
.green{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.action-button:active{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}