.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_block{
    width: 50%;
    background: #fff;
    text-align: center;
    padding: 20px;
}